@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100&display=swap');
 html
{
	scroll-behavior: smooth;
}
body
{
	moz-background-size: cover;
	o-background-size: cover;
	webkit-background-size: cover;
	background-color: #0c0f1c;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
  margin: 0;

}

#linkedin-badge{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
}

.rotateDiv{
  background-image: linear-gradient(to bottom right, #2f3f94,#651be6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  clip-path: polygon(65% 0, 100% 0%, 100% 100%, 51% 100%);
}
.mainWindow{
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width:800px) {
  .rotateDiv{
    clip-path: polygon(90% 0, 100% 0%, 100% 100%, 60% 100%);
  }
}
.bgWindow
{
	width: 60vw;
	background-color: transparent;
  opacity: 95%;
	height: 65vh;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(0%, -50%);
}

.sidebar{
  height: 100vh;
  background-color: #e3e3e3;
  position: absolute;
  width: 25vw;
  float: right;
  right: 0%;
  /* display: block; */
  padding: 15px;
  transition: margin-right 0.7s;
  overflow: hidden;
}

#sidebar-btn-open{
  text-align: center;
  height: 70px;
  width: 35px;
  border-radius: 50px 0px 0px 50px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  background-color: #161415;
  color: white;
  box-shadow: 1px 2px 5px #262626;
}
#sidebar-btn-open:hover{
  cursor: pointer;
  background-color: black;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

#sidebar-btn-close{
  text-align: center;
  height: 70px;
  width: 35px;
  border-radius: 0px 50px 50px 0px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  background-color: #161415;
  color: white;
}
#sidebar-btn-close:hover{
  cursor: pointer;
  background-color: black;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

.header
{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	left: 50%;
	position: absolute;
	text-align: left;
  padding-left: 70px;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#gradient-text-container
{
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 5px;
  display: none;
  justify-content: center;
  left: 50%;
  min-width: 7vh;
  position: fixed;
  top: -5%;
  transform: translate(-50%, -10%);
  width: 50vw;
}
#gradient-text
{
  color: #d1d1d1;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  word-spacing: 10px;
}

#bgChange
{
	background-color: #2a2a2a;
	border: none;
	border-radius: 50%;
	bottom: -8%;
  box-shadow: 1px 2px 4px #000000;
	color: rgba(255,255,255,0.9);
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	height: 100px;
	outline: 0;
	position: fixed;
	right: -4%;
	text-align: center;
	width: 100px;
}
#bgChange::-moz-focus-inner
{
	border: 0;
}
#bgChange:hover
{
  background-color: #000000;
	text-shadow: 2px 2px 2px black;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}
.bounce
{
	moz-animation: bounce 2s infinite;
	webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
@keyframes bounce
{
	0%, 20%, 50%, 80%, 100%
	{
		transform: translateY(0);
	}
	40%
	{
		transform: translateY(-30px);
	}
	60%
	{
		transform: translateY(-15px);
	}
}

.name
{
	font-size: 3.25rem;
  color: white;
}
#hello
{
	font-size: 4rem;
	font-weight: 100;
}
#tagline
{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	opacity: 0.5;
}
@media screen and (max-width:800px)
{
	#hello
	{
		font-size: 2.5rem;
	}
	.name
	{
		font-size: 2rem;
	}
	#tagline
	{
		font-size: 1.2rem;
	}
	#bgChange
	{
		font-size: 11px;
    height: 70px;
		transform: translate(60%, 60%);
    width: 70px;
	}
  .bgWindow{
    margin-left: -9%;
    height: 70vh;
    width: 80vw;
  }
  #gradient-text-container{
    height: 9vh;
    width: 50vw;
  }
  #gradient-text{
    font-size: 12px;
  }
  .sidebar{
    width: 50vw;
  }
  #sidebar-btn-close{
    height: 70px;
    width: 35px;
  }
  #sidebar-btn-open{
    height: 70px;
    width: 35px;
  }
}
a
{
	background-color: transparent;
	box-sizing: border-box;
	color: #1e6bb8;
	text-decoration: none;
}
.btn
{
	background-color: rgba(255,255,255,0.08);
	border-color: rgba(255,255,255,0.5);
	border-radius: 0.3rem;
	border-style: solid;
	border-width: 1px;
	color: rgba(255,255,255,0.9);
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1rem;
	margin-right: 20px;
	margin-top: 20px;
	min-width: 10em;
	padding: 0.75rem 1rem;
	text-align: center;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover
{
	background-color: rgba(255,255,255,0.30);
	color: rgba(255,255,255,1);
	cursor: pointer;
}
@media screen and (max-width:800px)
{
	.btn
	{
		margin: 4px;
		width: 90%;
	}
	.btn:hover
	{
		background-color: rgba(255,255,255,0.30);
		color: rgba(255,255,255,1);
		cursor: pointer;
	}
	.button
	{
		border: 1px solid black;
		margin: 0 auto;
		min-height: 10em;
	}
}
