@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100&display=swap');

html{
	background-image: linear-gradient(to bottom right,  #1a2a6c, #b21f1f, #fdbb2d);
 
	background-repeat: no-repeat;
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.arrow {
	position: fixed;
	bottom: 12%;
	left: 50%;
	margin-left: -10px;
  	text-align: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow:hover{
	cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.header{
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
  	position: fixed;
  	top: 50%;
  	margin-top: -150px;
    margin-left: -10px;
}

#hello{
	font-size: 3.25rem;
}



#name{
	font-size: 4rem;
	font-weight: 100;
}

#tagline{
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.5;
	font-weight: bold;
}

@media screen and (max-width:800px) {
  #name {
    font-size: 2.5rem; 
  }
  #hello {
  	font-size: 2rem;
  }
  #tagline{
  	font-size: 1.2rem;
  }
  .arrow{
  	bottom: 6%;
	left: 50%;
	margin-left: -10px;
  }
  #arrow-img{
  	height: 30px;
  	width: 30px;
  }
}


a{
	text-decoration: none;
	color: #1e6bb8;
	background-color: transparent;
	box-sizing: border-box;
}

.btn{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 0.75rem 1rem;
	min-width: 10em;
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255,255,255,0.9);
	background-color: rgba(255,255,255,0.08);
	border-color: rgba(255,255,255,0.5);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	margin-left: 20px;
	margin-top: 20px;
}

.btn:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,0.30);
	color: rgba(255,255,255,1);
}

@media screen and (max-width:800px) {
  .btn {
    width:90%;
    margin: 4px; 
  }

.btn:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,0.30);
	color: rgba(255,255,255,1);
}

.button{
	min-height: 10em;
	border: 1px solid black;
	margin: 0 auto;
}
