html{
	background-image: linear-gradient(to bottom right, #29ffb6, #755a96);
	background-repeat: no-repeat;
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
	font-family: century gothic;
	color: black;
	text-align: center;
	margin: 0px auto;
}
